# Postgres
PG_DB=movies_database
PG_USER=app
PG_PASSWORD=123qwe
PG_PORT=5432
PG_HOST=postgres

# Elasticsearch
ES_HOST=elasticsearch
ES_PORT=9200
ES_INDEXES='["movies", "persons", "genres"]'

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# ETL
INTERVAL=10
LOG_PATH="logs.logs"
LOG_LEVEL="INFO"
LOG_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"

# API
PROJECT_NAME=movies
API_PORT=8000
API_LOG_FORMAT="%(asctime)s - %(name)s - %(levelname)s - %(message)s"
API_LOG_DEFAULT_HANDLERS='["console"]'
API_CONSOLE_LOG_LVL="DEBUG"
API_LOGGERS_HANDLERS_LOG_LVL="INFO"
API_UNICORN_ERROR_LOG_LVL="INFO"
API_UNICORN_ACCESS_LOG_LVL="INFO"
API_ROOT_LOG_LVL="INFO"
